[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/rope-omni"]
	path = bundle/rope-omni
	url = git://github.com/rygwdn/rope-omni.git
[submodule "bundle/virtualenv"]
	path = bundle/virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/tslime"]
	path = bundle/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
